@model BillTracker.ViewModels.AddBillViewModel;

<h2>Add New Bill</h2>
<br />
@if (@ViewBag.message != "")
  {
<p>@ViewBag.message</p>

<br />
<a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Category" asp-action="Index" role="button">Add Category</a>
  }
else
{

<a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Category" asp-action="Index" role="button">Add Category</a>
<br /> <br />
       <form asp-controller="Home" asp-action="AddBill" method="post">
           <div class="form-group">
               <label asp-for="DueDate"></label>
               <input asp-for="DueDate" />
               <span asp-validation-for="DueDate"></span>
           </div>
           <div class="form-group">
               <label asp-for="PaidDate"></label>
               <input asp-for="PaidDate" />
               <span asp-validation-for="PaidDate"></span>
           </div>
           <div class="form-group">
               <label asp-for="PaymentType">Payment Type(check#, 'Cash' or 'Card')</label>
               <input asp-for="PaymentType" />
               <span asp-validation-for="PaymentType"></span>
           </div>
           <div class="form-group">
               <label asp-for="Payee"></label>
               <input asp-for="Payee" />
               <span asp-validation-for="Payee"></span>
           </div>
           <div class="form-group">
               <label asp-for="Amount"></label>
               <input asp-for="Amount" />
               <span asp-validation-for="Amount"></span>
           </div>
           <div class="form-group">
               <label asp-for="CategoryId">Category</label>
               <select asp-for="CategoryId" asp-items="Model.PossibleCategories"></select>
           </div>

           <div class="form-group">
               <label asp-for="Memo">Memo</label>
               <input asp-for="Memo" />
           </div>
           <div class="form-group">
               <label asp-for="TaxDeductible">Tax Deductible(Y or N)</label>
               <input asp-for="TaxDeductible" />
               <span asp-validation-for="TaxDeductible"></span>
           </div>
           @Html.HiddenFor(model => model.UserId)
           <input type="submit" value="Save Bill" />
       </form>
}
